<div class="total-items-in-cart">0</div>
<div class="cart">
    <h2 class="cart-title">Your Cart</h2>
    <div class="deliver">
        <div class="we-deliver">
            <div class="we-deliver-radio">
                <input type="radio" id="want-transport" name="Transport" value="Yes">
                <label for="want-transport">Want Transportation Service</label>
            </div>
            <div class="hidden-location1">

            </div>
        </div>
        <hr>
        <div class="user-deliver">
            <input type="radio" id="no-transport" name="Transport" value="No">
            <label for="no-transport">Don't Want Transportation Service</label>
        </div>
    </div>
    <div class="cart-content">

    </div>

    <div class="total">
        <div class="total-title">Total</div>
        <div class="total-price">Rs.0</div>
    </div>
    <button type="button" class="btn-buy">Sell Now</button>
    <i class="bi bi-x-lg" id="cart-close"></i>
</div>
<a href="#" id="close"><i class="bi bi-x-lg"></i></a>
</ul>
</div>
<div id="mobile">
    <a href="#"><i class="bi bi-bag-fill" id="mobile-cart-icon"></i></a>
    <i id="bar" class="fas fa-outdent"></i>
</div>