<%- include("partials/header");-%>
<body>
    <!-- Navbar -->
    <section id="header">
        <div class="logo-phone-no">
            <a href="/"><img src="images/logo.png" class="scraptel-logo" alt="logo"></a>
            <a href="tel:+918142031786">8142031786</a>
        </div>
        <div>
            <ul id="navbar">
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/About">About</a></li>
                <li><a href="/Sell">Sell</a></li>
                <li><a href="/Login">Login</a></li>
                <li id="lg-bag"><a href="#"><i class="bi bi-bag-fill" id="cart-icon"></i></a></li>
                <%- include("partials/middle");-%>
    </section>

    <!-- Hero -->
    <section id="hero">
        <div class="hero-quote">
            <h1>"Reshaping the world by removing wastage through scrap innovation"</h1>
        </div>
        <p class="whats-app">We deal in every Scarp products except <em>Glass, Clothes, Shoes and Wood.</em><b> Leave a
                message on Whats App</b></p>
    </section>

    <!-- Sell page -->
    <section id="sell-page">
        <div class="container">
            <h1 class="heading">Sell Us...</h1>
            <div class="row row-tel">
                <div class="owl-carousel owl-theme">            
                </div>
            </div>
        </div>
    </section>
    <!-- Our Story -->

    <section id="our-story" class="section-p1">
        <h1 class="heading">Our Story...</h1>
        <div class="our-story-img-des">
            <div class="our-story-img">
                <img src="/images/our_story_img.jpg" alt="our_Story">
            </div>
            <div class="our-story-des">
            </div>
        </div>
    </section>
 
    <!-- Why SCRAPTEL -->
    <section id="why-scraptel">
        <h1 class="heading">Why Scraptel?</h1>
        <div class="container">
            <div class="row read-more-container">
            </div>
        </div>
    </section>
 
    <!-- How it works -->
    <section id="how-simple-is-it">
        <h1 class="heading">How Simple Is It?</h1>
        <div class="container">
            <div class="row how-simple-is-it">
            </div>
        </div>
    </section>
 
    <%- include("partials/footer");-%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/javascript/category.js"></script>
    <script src="/javascript/index.js"></script>
</body>
 
</html>