<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scraptel</title>
 
    <!-- Bootstrap Links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 
    <!-- CSS Links -->
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/fonts.css">
 
    <!-- Bootstrap JS Links -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
 
    <!-- Bootstrap Icons Link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
 
    <!-- Font Awesome Link -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <script src="https://kit.fontawesome.com/af46e577eb.js"></script>
 
</head>
 
<body>
 
 
    <!-- Navbar -->
    <section id="header">
        <div class="logo-phone-no">
            <a href="/"><img src="images/logo.png" class="scraptel-logo" alt="logo"></a>
            <a href="tel:+918142031786">+91 8142031786</a>
        </div>
        <!-- <a href="">8142031786</a> -->
        <div>
            <ul id="navbar">
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/About">About</a></li>
                <li><a href="/Sell">Sell</a></li>
                <li><a href="/Login">Login</a></li>
                <li id="lg-bag"><a href="#"><i class="bi bi-bag-fill" id="cart-icon"></i></a></li>
                <div class="cart">
                    <h2 class="cart-title">Your Cart</h2>
                    <div class="deliver">
                        <div class="we-deliver">
                            <div class="we-deliver-radio">
                                <input type="radio" id="want-transport" name="Transport" value="Yes">
                                <label for="want-transport">Want Transportation Service</label>
                            </div>
                            <div class="hidden-location1">
                                
                            </div>
                        </div>
                        <hr>
                        <div class="user-deliver">
                            <input type="radio" id="no-transport" name="Transport" value="No">
                            <label for="no-transport">Don't Want Transportation Service</label>
                        </div>
                    </div>
                    <div class="cart-content">
                        
                    </div>
                    
                    <div class="total">
                        <div class="total-title">Total</div>
                        <div class="total-price">Rs.0</div>
                    </div>
                    <button type="button" class="btn-buy">Sell Now</button>
                    <i class="bi bi-x-lg" id="cart-close"></i>
                </div>
                <a href="#" id="close"><i class="bi bi-x-lg"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="#"><i class="bi bi-bag-fill" id="mobile-cart-icon"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>
 
    <!-- Hero -->
    <section id="hero">
        <div class="hero-quote">
            <h1>"Reshaping the world by removing wastage through scrap innovation"</h1>
        </div>
        <p class="whats-app">We deals in every Scarp products except <em>Glass, Clothes, Shoes and Wood.</em><b> Leave a
                message on Whats App</b></p>
    </section>
 
    <!-- Our Story -->
    <section id="our-story" class="section-p1">
        <h1 class="heading">Our Story...</h1>
        <div class="our-story-img-des">
            <div class="our-story-img">
                <img src="/images/our_story_img.jpg" alt="our_Story">
            </div>
            <div class="our-story-des">
                <p>At <b>SCRAPTEL </b>, our passion for sustainability led us to become scrap buyers with a
                    purpose.
                    With utmost
                    politeness and professionalism, we set out on a journey to transform scrap into valuable
                    resources.
                </p>
 
                <p> Driven by our commitment to environmental stewardship, we saw an opportunity to make a
                    difference.
                    By
                    removing wastage and unlocking the hidden potential of scrap, we create sustainable
                    solutions
                    that
                    benefit
                    both our partners and the planet.</p>
 
                <p class="our-story-p"> Through transparent and respectful relationships, we have built a reputation for
                    trust and
                    reliability. Our
                    team's expertise and innovative mindset enable us to optimize resources and minimize
                    environmental
                    impact,
                    shaping a greener future. </p>
 
                <p class="our-story-p"> Join us in our story as we continue to reshape sustainability through the power
                    of scrap.
                    Together,
                    we can
                    create a brighter and more sustainable world, one scrap at a time.</p>
            </div>
        </div>
    </section>
 
    <!-- Why SCRAPTEL -->
    <section id="why-scraptel">
        <h1 class="heading">Why Scraptel?</h1>
        <div class="container">
            <div class="row read-more-container">
                <div class="col-md-6 col-lg-4 py-3 ">
                    <div class="card why-scraptel-card">
                        <img src="/images/icons/balance.png" class="why-scraptel-icon" alt="...">
                        <div class="card-body">
                            <h4 class="card-title">Weight Accuracy</h4>
                            <p class="card-text">Our weighing instruments undergo regular calibration and
                                verification
                                processes to maintain their accuracy and reliability.<span class="read-more-text">
                                    Our
                                    commitment to weight accuracy extends to providing consistent and reliable
                                    measurements.</span></p>
                            <span class="read-more-btn">Read More...</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 py-3">
                    <div class="card why-scraptel-card">
                        <img src="/images/icons/conversation.png" class="why-scraptel-icon" alt="...">
                        <div class="card-body read-more-container">
                            <h4 class="card-title">Efficient Communication</h4>
                            <p class="card-text">We prioritize clear and timely communication with our clients. Our
                                Communication will be at trained level. Our commitment<span class="read-more-text"> to
                                    open communication ensures that our clients feel valued and engaged throughout the
                                    collaboration.</span></p>
                            <span class="read-more-btn">Read More...</span>
 
                        </div>
                    </div>
 
                </div>
                <div class="col-md-6 col-lg-4 py-3">
                    <div class="card why-scraptel-card">
                        <img src="/images/icons/telescope.png" class="why-scraptel-icon" alt="...">
                        <div class="card-body read-more-container">
                            <h4 class="card-title">Long-term Vision</h4>
                            <p class="card-text">Our services are designed with a long-term perspective in mind. We
                                strive to contribute to our clients' sustained growth and <span
                                    class="read-more-text">success, fostering a partnership that extends beyond
                                    immediate
                                    projects to create a lasting impact.</span></p>
                            <span class="read-more-btn">Read More...</span>
 
                        </div>
                    </div>
 
                </div>
                <div class="col-md-6 col-lg-4 py-3">
                    <div class="card why-scraptel-card">
                        <img src="/images/icons/customer-service.png" class="why-scraptel-icon" alt="...">
                        <div class="card-body read-more-container">
                            <h4 class="card-title">Customer Support</h4>
                            <p class="card-text">Our dedicated customer support team is always ready to assist clients
                                with any concerns or issues they may have. We are co<span class="read-more-text">mitted
                                    to providing prompt and helpful support, ensuring a seamless experience and complete
                                    satisfaction.</span></p>
                            <span class="read-more-btn">Read More...</span>
 
                        </div>
                    </div>
 
                </div>
                <div class="col-md-6 col-lg-4 py-3">
                    <div class="card why-scraptel-card">
                        <img src="/images/icons/growth.png" class="why-scraptel-icon" alt="...">
                        <div class="card-body read-more-container">
                            <h4 class="card-title">Continuous Improvement</h4>
                            <p class="card-text">We constantly seek opportunities for improvement to enhance the value
                                we provide to our clients. Through ongoing evaluation, fe<span
                                    class="read-more-text">edback, and adaptation, we ensure that our services remain
                                    relevant and effective in an ever-evolving business landscape.</span></p>
                            <span class="read-more-btn">Read More...</span>
                        </div>
                    </div>
 
                </div>
                <div class="col-md-6 col-lg-4 py-3">
                    <div class="card why-scraptel-card">
                        <img src="/images/icons/bulb.png" class="why-scraptel-icon" alt="...">
                        <div class="card-body read-more-container">
                            <h4 class="card-title">Tailored Solutions</h4>
                            <p class="card-text">We understand that each client is unique, and we strive to provide
                                customized services that align with their specific needs an <span
                                    class="read-more-text"> goals. Our team works closely with clients to develop
                                    tailored solutions that address their business challenges effectively.</span></p>
                            <span class="read-more-btn">Read More...</span>
                        </div>
                    </div>
 
                </div>
            </div>
        </div>
    </section>
 
    <!-- How it works -->
    <section id="how-simple-is-it">
        <h1 class="heading">How Simple Is It?</h1>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4 py-3">
                    <div class="card why-scraptel-card">
                        <div class="card-body">
                            <h4 class="card-title">Step-1</h4>
                            <img src="/images/icons/link.png" width="100%" class="how-simple-is-it-icon" alt="...">
                            <p class="card-text">Connect with Us Effortlessly.</p>
 
                        </div>
                    </div>
 
                </div>
                <div class="col-sm-12 col-md-4 py-3">
                    <div class="card why-scraptel-card">
                        <div class="card-body">
                            <h4 class="card-title">Step-2</h4>
                            <img src="/images/icons/deal.png" width="100%" class="how-simple-is-it-icon" alt="...">
                            <p class="card-text">Making the Perfect Deal Simplified.</p>
 
                        </div>
                    </div>
 
                </div>
                <div class="col-sm-12 col-md-4 py-3">
                    <div class="card why-scraptel-card">
                        <div class="card-body">
                            <h4 class="card-title">Step-3</h4>
                            <img src="/images/icons/truck.png" width="100%" class="how-simple-is-it-icon" alt="...">
                            <p class="card-text">Sell Your Scrap with Ease.</p>
 
                        </div>
                    </div>
 
                </div>
            </div>
        </div>
    </section>
 
    <!-- Contact -->
    <section id="contact-us">
        <h1 class="heading">Any Queries?</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h5>Leave A Message</h5>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Name</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                            placeholder="Enter Your Name">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="Example: name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Your Message</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                            placeholder="Message"></textarea>
                    </div>
                    <button class="btn btn-primary">Send</button>
                </div>
                <div class="col-md-5">
                    <h5>Contact Us</h5>
                    <div class="mt-5">
                        <div class="d-flex">
                            <i class="bi bi-geo-alt-fill"></i>
                            <p>Honda Showroom lane, Metro pillar no. A972, Erragadda, Hyderabad.</p>
                        </div>
                        <hr>
                        <div class="d-flex">
                            <i class="bi bi-telephone-fill"></i>
                            <p>+91 8142031786</p>
                        </div>
                        <hr>
                        <div class="d-flex">
                            <i class="bi bi-envelope-fill"></i>
                            <p>info@scraptel.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
 
    <!-- Footer -->
    <section id="footer">
        <div class="container">
            <div class="row row-cols-sm-1">
                <div class="col-md-8">
                    <p class="footer-text">Copyright © 2023 Scraptel. All rights reserved.</p>
                </div>
                <div class="col-md-4 footer-icons">
                    <label for="">Follow Us: </label>
                    <i class="bi bi-instagram"></i>
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-twitter"></i>
                </div>
            </div>
        </div>
    </section>
 
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="/javascript/index.js"></script>
</body>
 
</html>