<%- include("partials/header");-%>

<body>

    <!-- Navbar -->
    <section id="header">
        <div class="logo-phone-no">
            <a href="/"><img src="/images/logo.png" class="scraptel-logo" alt="logo"></a>
            <a href="tel:+918142031786">+91 8142031786</a>
        </div>
        <div>
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/About">About</a></li>
                <li><a href="/Sell">Sell</a></li>
                <li><a class="active" href="/Login">Login</a></li>
                <a href="#" id="close"><i class="bi bi-x-lg"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>

    <!-- signup -->
    <section id="login">
        <div class="wrapper1">
            <a href="/">
                <span id="icon-close" class="icon-close">
                    <ion-icon name="close-outline"></ion-icon>
                </span>
            </a>
            <div class="form-box register">
                <h2>Login</h2>
                <form action="/User/Login" method="post">
                    <div class="input-box">
                        <span class="icon">
                            <ion-icon name="mail-outline"></ion-icon>
                        </span>
                        <input type="text" name="email" required>
                        <label>Email</label>
                    </div>
                    <div class="input-box">
                        <span class="icon">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                        </span>
                        <input type="password" name="password" required>
                        <label>Password</label>
                    </div>
                    <div class="forgot">
                        <label> <input type="checkbox">Agree to the terms & conditions </label>
                    </div>
                    <button type="submit" class="btn">LogIN</button>
                    <div class="login-register">
                        <p>Don't have an account?<a href="/Signup" class="login-link"> Login</a></p>
                    </div>
                    <div class="goo-face">
                        <hr class="bar">
                        <p>Or Login with</p>
                        <div class="sym">
                            <!-- <div class="tip-tool">Google</div> -->
                            <span><ion-icon name="logo-google" id="google"></ion-icon></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>


    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="/javascript/index.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>