<%- include("partials/header");-%>

<body>
    <!-- Navbar -->
    <section id="header">
        <div class="logo-phone-no">
            <a href="/"><img src="/images/logo.png" class="scraptel-logo" alt="logo"></a>
            <a href="tel:+918142031786">8142031786</a>
        </div>
        <div>
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/About">About</a></li>
                <li><a class="active" href="/Sell">Sell</a></li>
                <li><a href="/Login">Login</a></li>
                <li id="lg-bag"><a href="#"><i class="bi bi-bag-fill" id="cart-icon"></i></a></li>
                <%- include("partials/middle");-%>
    </section>

    <!-- Cards -->
    <section id="products" class="section-p1">
        <h2 class="heading">Sell To Us!</h2>
        <p>Add the Products into <b>Sell Cart</b> and Know the Estimated Price of it.<br>Click on Card to Read the
            Item's Description</p>
        <div class="container cont">
            <div class="row product-row">

            </div>
        </div>

    </section>
    <%- include("partials/footer"); -%>
    <!-- Pop up -->
    <section id="popup">
        <div class="popup">
            <i class="bi bi-x-lg close-btn"></i>
            <div class="container category-grp">
                <div class="row category-row">
                    
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="/javascript/index.js"></script>
    <script src="/javascript/category.js"></script>
    <script src="/javascript/sell.js"></script>
</body>

</html>