<%- include("partials/header");-%>

<body>
    <!-- Navbar -->
    <section id="header">
        <div class="logo-phone-no">
            <a href="/"><img src="/images/logo.png" class="scraptel-logo" alt="logo"></a>
            <a href="tel:+918142031786">8142031786</a>
        </div>
        <div>
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/About">About</a></li>
                <li><a class="active" href="/Sell">Sell</a></li>
                <li><a href="/Login">Login</a></li>
                <li id="lg-bag"><a href="#"><i class="bi bi-bag-fill" id="cart-icon"></i></a></li>
                <div class="total-items-in-cart">0</div>
                <div class="cart">
                    <h2 class="cart-title">Your Cart</h2>
                    <div class="deliver">
                        <div class="we-deliver">
                            <div class="we-deliver-radio">
                                <input type="radio" id="want-transport" name="Transport" value="Yes">
                                <label for="want-transport">Want Transportation Service</label>
                            </div>
                            <div class="hidden-location1">

                            </div>
                        </div>
                        <hr>
                        <div class="user-deliver">
                            <input type="radio" id="no-transport" name="Transport" value="No">
                            <label for="no-transport">Don't Want Transportation Service</label>
                        </div>
                    </div>
                    <div class="cart-content">

                    </div>

                    <div class="total">
                        <div class="total-title">Total</div>
                        <div class="total-price">Rs.0</div>
                    </div>
                    <button type="button" class="btn-buy">Sell Now</button>
                    <i class="bi bi-x-lg" id="cart-close"></i>
                </div>
                <a href="#" id="close"><i class="bi bi-x-lg"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="#"><i class="bi bi-bag-fill" id="mobile-cart-icon"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>

    <!-- Cards -->
    <section id="products" class="section-p1">
        <h2 class="heading">Sell To Us!</h2>
        <p>Add the Products into <b>Sell Cart</b> and Know the Estimated Price of it.<br>Click on Card to Read the
            Item's Description</p>
        <div class="container cont">
            <div class="row product-row">

            </div>
        </div>

    </section>
    <%- include("partials/footer"); -%>
    <!-- Pop up -->
    <section id="popup">
        <div class="popup">
            <i class="bi bi-x-lg close-btn"></i>
            <div class="container category-grp">
                <div class="row category-row">
                    
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="/javascript/index.js"></script>
    <script src="/javascript/category.js"></script>
    <script src="/javascript/sell.js"></script>
</body>

</html>