*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 14px;
    background-size: cover;
    background-position: center;
}

.wrapper{
    position: relative;
    width: 400px;
    height: 660px;
    background: transparent;
    border: 2px solid rgba(255,255,255,  .5);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    border-radius: 20px;
    display: flex;
    line-height: 10px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* transform: scale(0); */
    transition: height .2s ease;
}
.wrapper1.form-box.register{
    height: 560px;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}
.wrapper .form-box.login{
    transition: tranform .18s ease;
    transform: translateX(0);
}

.wrapper1 .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(0px);
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #154972;
    font-size: 2em; 
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.wrapper .icon-close:hover {
    background: #213555;
}

.form-box h2{
    font-size: 2em;
    color:#213555;
    text-align: center;
    
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}
.forgot{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.forgot label input{
    accent-color: #154972;
    margin-right: 3px;
}
.forgot a:hover{
    text-decoration: underline;
}
.forgot a{
    color: #162938;
    text-decoration: none;
    margin-left: auto;
}
.btn{
    width: 100%;
    height: 45px;
    background: #154972;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.btn:hover {
    color: #fff;
    background: #213555;
}

.login-register{
    font-size: .9em;
    color: #213555;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a{
    color: #213555;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover{
    
    text-decoration: underline;
}
.goo-face p{
    margin-left: 35%;
}
.sym {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;

}


.sym #google:hover{
    color: #DB4437;
   
}
.wrapper1{
    position: relative;
    width: 400px;
    height: 660px;
    background: transparent;
    border: 2px solid rgba(255,255,255,  .5);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    border-radius: 20px;
    display: flex;
    line-height: 10px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* transform: scale(0); */
    transition: height .2s ease;
}
.wrapper1 .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #154972;
    font-size: 2em; 
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.wrapper1 .form-box{
    width: 100%;
    padding: 40px;
}
.wrapper1 .icon-close:hover {
    background: #213555;
}