.total-items-in-cart {
    margin-left: -20px;
    padding: 0px;
}
.cont{
    margin: 0;
    padding: 0;
}
#products .produce{
    background: rgba(237,251,255,255);
    width:200px;
    height:280px;
}
#products .produce:hover{
    border: 1px solid#000;
    box-shadow: 1px solid rgba(0, 0, 0, .1);
}
.produce .description{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.produce .description h3{
    font-size: 25px;
    
    color: #154972;
    font-weight: 500;
}
.produce .open-cat{
    width: 100%;
    text-align: center;
    background: #154972;
    color: #fff;
    border-radius: 5px;
    transition: 0.5s;
}
.produce .open-cat:hover{
    
    background: #082f4d;
    
}

.product-row .produce:hover{
    box-shadow: 1px rgba(0, 0, 0, 0.08);;
}
#products p {
    text-align: center;
}

#products p b {
    font-family: 'Spartan', sans-serif;
    color: #53C0DB;
}

#products .product-row {
    padding: 20px 50px;
}

.cat-items .card-body h3 h4{
    color: #154972;
    font-size: 25px;
    font-weight: 500px;
}
.cat-items .card-body .add-to-cart{
    width: 100%;
    color: #fff;
    background: #154972;
    border-radius: 5px;
    text-align: center;
    transition: 0.5s;
}
.cat-items .card-body .add-to-cart:hover{
   
    background: #082f4d;
    
}


.popup {
    position: fixed;
    z-index: -1;
    display: flex;
    top: 0;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 90%;
    height: 80%;
    overflow: auto;
    padding: 20px;
    background: #eee;
    border-radius: 10px;
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, .1);
    margin-top: -25px;
    opacity: 0;
    transition: top 0ms ease-in-out 300ms,
                opacity 300ms ease-in-out,
                margin-top 300ms ease-in-out;
}

.popup > * {
    margin: 15px 0;

}

.popup .close-btn {
    position: absolute;
    padding: 4px 8px 0 10px;
    top: -5px;
    right: 10px;
    width: 40px;
    height: 40px;
    background: #eee;
    color: #000;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
}

body.active-popup {
    overflow: hidden;
    
}

body.active-popup #products {
    filter: blur(2px);
    background: rgba(0, 0, 0, 0.08);
    transition: filter 0ms ease-in-out 0ms;
}

body.active-popup .popup {
    top: 50%;
    opacity: 1;
    margin-top: 0px;
    transition: top 0ms ease-in-out 0ms,
                opacity 300ms ease-in-out,
                margin-top 300ms ease-in-out;
    z-index: 0;
}


.cat-items{
    background: #E9F0DC;
}


@media(max-width: 477px) {
    #product .pro-container {
        justify-content: center;
    }
}